.navigationBar {
    width: 100%;  
    height: 80px; 
    background-color: rgb(104, 57, 8); 
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 
    size: 50px;   
  }
  .navigationComponent {
    display: inline-block;
    vertical-align: top;
    font-size: large;
    margin-left: 20px;
    height: 80px;        
    line-height: 80px; 
    text-decoration: none; 
    font-weight: bold; 
    color: rgb(6, 6, 6);
  }
  .navigationButton{
    background-color:rgb(245, 245, 245);
    align-items: center;
    font-size: larger;
    margin-top: 20px;
    margin-left: 65%;
    border-radius: 20px;
    padding:8px;
  
  }
@media (max-width:768px) {
    .navigationBar {
        width: 100%;  
        height: 80px; 
        background-color:brown; 
      }
      .navigationButton{
        background-color:rgb(245, 245, 245);
        align-items: center;
        font-size: larger;
        margin-top: 20px;
        margin-left: 40%;
        border-radius: 20px;
        padding:8px;
      
      }
      .logo {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-top: 15px; 
        size: 50px;   
      }
      .navigationComponent {
        display: inline-block;
        vertical-align: top;
        font-size: medium;
        margin-left: 10px;
        height: 80px;        
        line-height: 80px; 
        text-decoration: none; 
        font-weight: bold; 
        color: rgb(6, 6, 6);
      }

    
}